<div class="auth-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">SignUp</h1>
                <p class="text-xs-center"><a [routerLink]="['/login']">Have an account?</a></p>
                backend errors are here

                <form [formGroup]="form" (ngSubmit)=onSubmit()>
                    <fieldset>
                        <fieldset class="form-group">
                            <input formControlName="username" type="text" name="" id="" class="form-control form-control-lg" placeholder="Username" required></fieldset>
                    </fieldset>

                    <fieldset>
                        <fieldset class="form-group">
                            <input formControlName="email" type="email" name="" id="" class="form-control form-control-lg"
                                placeholder="Email" required></fieldset>
                    </fieldset>


                    <fieldset>
                        <fieldset class="form-group">
                            <input formControlName="password" type="password" name="" id="" class="form-control form-control-lg"
                                placeholder="password" required></fieldset>
                    </fieldset>

                    <button class="btn btn-lg btn-primary pull-xs-right" type="submit">Sign up</button>
                </form>
                <!-- <button class="btn btn-lg btn-primary pull-xs-right" type="" (click)="onSubmit()">Sign up</button> -->
            </div>
        </div>
    </div>
</div>