<div class="auth-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">SignUp</h1>
                <p class="text-xs-center"><a [routerLink]="['/login']">Have an account?</a></p>
                backend errors are here

                <form action="">
                    <fieldset>
                        <fieldset class="form-group"><input type="text" name="" id="" class="form-control form-control-lg" placeholder="Username"></fieldset>
                    </fieldset>

                    <fieldset>
                        <fieldset class="form-group"><input type="email" name="" id="" class="form-control form-control-lg"
                                placeholder="Email"></fieldset>
                    </fieldset>


                    <fieldset>
                        <fieldset class="form-group"><input type="password" name="" id="" class="form-control form-control-lg"
                                placeholder="password"></fieldset>
                    </fieldset>

                    <button class="btn btn-lg btn-primary pull-xs-right" type="submit">Sign up</button>
                </form>
            </div>
        </div>
    </div>
</div>